body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
#container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
#left{
    width: 60%;
   margin-left: 5%;
   margin-top: 0px;
}
#left>h4{   
    font-weight: lighter;
   height: 0;
}
#right{
    width: 33%;
}
#select{
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    margin-top: 12%;
    margin-bottom: -5%;
}
#select>p:nth-child(2){
    color: #FF6F61;
    font-weight: bold;
    cursor: pointer;
}

#append_data{
    padding: 2%;
    margin-top: 5%;
    
}
#append_data>div{
    display: flex;
    justify-content:space-between;
    margin-bottom: 30px;
    background-color:white;
    padding: 10px;
}
#img{
    display: flex;
    width: 70%;
    margin-bottom: -10px;
}
#img>img{
  width:10%;
  height: 100%;
  margin-right: 2%;

}
#img>p{
    width: 70%;
    font-weight: bold;

}
#img+div{
    display: flex;
    flex-direction: column;
    text-align: end;
}
#img+div>p:nth-child(1){
    font-size: 14px;
    font-weight: bold;
}
#img+div>p:nth-child(2){
    margin-top: 0;
    text-decoration: line-through;
    font-size: 12px;
    color: grey;
}

/* address css */
#radio1{
    color :rgb(247, 120, 1);
}
#append_add{
    background-color: white;
    font-size: 12px;
    margin-bottom: 1%;
    margin-top: 5%;
    border-radius: 4px;
}
#append_add>div{
    margin-left: 1%;
    padding: 2%;
}
#append_add>div>p{
    margin: 3px;
    font-size: 12px;
}
#append_add>div>div{
    display: flex;
    align-items: center;
    width: 20%;
}

#append_add>div>div>label{
    font-weight: bold;
    margin: 3px;
}
#btn{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
#btn>button{
    background-color: #FF6F61;
    color: white;
    border: none;
    padding:4%;
    font-weight: bold;
    border-radius: 4px;
}



#amt{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    margin-top: 5%;
}

#total{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-size: 12px;
    color: grey;
}
#discount{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-size: 12px;
    color: grey;
    margin-top: -10px;
}
#shipping{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-size: 12px;
    color: grey;
    margin-top: -10px;
}

.payment{
   margin-top: -10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 2%;
   padding-right: 2%;
}
#saving{
    display: flex;
    justify-content: space-between;
     padding-left: 2%;
     padding-right: 2%;
    font-size: 12px;
    color: grey;
    margin-top: -10px;
    background-color: #e4f6e7;
    margin-bottom: 10px;
    border-radius: 4px;
}


#footer{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 2%;
    margin-top: 2%;
}
#footer>div:nth-child(2){
    width: 120%;
    font-size: 12px;
    margin-left: 3%;
    padding-left: 1%;
    border-top: 1px solid grey;

}
#footer>div:nth-child(1){
 font-size: 12px;
 margin-left: 3%;
 padding: 5px;
 border-top: 1px solid grey;
}
a{
    text-decoration: none;
    color: #ff6f61;
}