#footer{
    background-color: #FFFCF8;
    padding: 40px 60px;
    border-top: 2px solid rgb(207, 207, 207);
    border-bottom: 2px solid rgb(207, 207, 207);
}
.box1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.box1>div{
    line-height: 15px;
}
.connect>i{
    font-size: 30px;
}
.box2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
    border-top: 2px solid rgb(207, 207, 207);
    border-bottom: 2px solid rgb(207, 207, 207);
    padding: 0 50px;
}
.box2>div{
    display: flex;
    padding: 40px 0;
}
.box2-p{
    font-size: 14px;
    color: grey;
}
.box3{
    text-align: center;
    padding: 20px 0;
}

@media only screen and (min-width: 750px) and (max-width: 1149px){
    .box1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,auto);
        gap: 20px;
    }
    .box2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        gap: 100px;
        border-top: 2px solid rgb(207, 207, 207);
        border-bottom: 2px solid rgb(207, 207, 207);
        padding: 0 50px;
    }
}

@media only screen and (min-width: 310px) and (max-width: 749px){
    .box1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        gap: 20px;
    }
    .box2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,auto);
        gap: 100px;
        border-top: 2px solid rgb(207, 207, 207);
        border-bottom: 2px solid rgb(207, 207, 207);
        padding: 0 50px;
    }
}

@media only screen and (min-width: 10px) and (max-width: 309px){
    .box1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5,auto);
        gap: 20px;
    }
    .box2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,auto);
        gap: 100px;
        border-top: 2px solid rgb(207, 207, 207);
        border-bottom: 2px solid rgb(207, 207, 207);
        padding: 0 50px;
    }
}